#!/usr/bin/make -f

BUNDLE_DIR=debian/wpscan/usr/share/wpscan/.bundle

%:
	dh $@ 

override_dh_auto_build:
	# Just ensure that we have the required deps
	bundle install --local --no-cache --without test

override_dh_install:
	mkdir -p debian/wpscan/usr/share/wpscan
	mv data debian/wpscan/usr/share/wpscan/default_data
	dh_install -X.gitignore
	rm debian/wpscan/usr/share/wpscan/default_data/.gitignore
	rm debian/wpscan/usr/share/wpscan/default_data/LICENSE

override_dh_fixperms:
	dh_fixperms
	chmod -R 644 debian/wpscan/usr/share/wpscan/lib/common/collections/*/*.rb
	chmod -R 644 debian/wpscan/usr/share/wpscan/lib/common/collections/*.rb
	chmod -R 644 debian/wpscan/usr/share/wpscan/lib/common/models/*.rb
	chmod -R 644 debian/wpscan/usr/share/wpscan/lib/common/models/*/*.rb

override_dh_auto_test:
	# unzip before tests because tests need data
	unzip -o data.zip
	RUBYLIB=$(CURDIR)/lib ruby debian/ruby-tests.rb
